@import "tailwindcss";

:root {
  --background: hsl(240 10% 8%);
  --background-2: hsl(240 9% 11%);
  --primary: hsl(0 0% 100%);
  --primary-foreground: hsl(0 0% 0%);
  --border: hsl(0 0% 26%);
  --foreground: hsl(0 0% 100%);
}

@theme inline {
    --color-primary: var(--primary);
    --color-border: var(--border);
    --color-background: var(--background);
    --color-primary-foreground: var(--primary-foreground);
    --color-background-2: var(--background-2);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Space Mono";
}
