---
import { cn } from "@/lib/utils";

interface Props {
  class: string;
  href: string;
}

const className = cn(
  "bg-primary text-primary-foreground p-3 rounded-lg text-md lg:text-lg xl:text-2xl flex justify-center items-center hover:bg-primary/90 transition-colors cursor-pointer",
  Astro.props.class,
);
---

<a class={className} href={Astro.props.href}>
  <slot />
</a>
