---
import { Code } from "@lucide/astro";
import SecondaryButton from "./secondary-button.astro";
---

<div class="flex flex-col lg:flex-row gap-8 items-center">
  <img
    class="lg:w-[50%] rounded-lg border drop-shadow-lg hover:drop-shadow-xl transition-[filter] shrink-0"
    src={"/chat.png"}
    alt="Chat app"
    width={996}
    height={762}
  />
  <div class="flex flex-col gap-4">
    <h2 class="text-3xl lg:text-6xl flex gap-4 items-center font-bold">Chat</h2>
    <p class="text-lg lg:text-2xl">
      Real-time chat application with support for invite links and text
      channels.
    </p>
    <p class="opacity-75 hover:opacity-90 transition-opacity">
      Made with TypeScript, React, NextJS and DrizzleORM. Runs with a Postgres
      database.
    </p>
    <div class="flex gap-3">
      <SecondaryButton
        href="https://github.com/astudentinearth/next14-chat-app"
        class="w-1/2 sm:w-fit"
      >
        <div class="flex gap-2 items-center">
          <Code class="size-5 sm:size-6" /> Source code
        </div>
      </SecondaryButton>
    </div>
  </div>
</div>
