---
import PrimaryButton from "./button.astro";
import SecondaryButton from "./secondary-button.astro";
import { Code, SquareArrowOutUpRight } from "@lucide/astro";
---

<div class="flex flex-col lg:flex-row-reverse gap-8 items-center">
  <img
    class="lg:w-[50%] rounded-2xl border drop-shadow-lg hover:drop-shadow-xl transition-[filter] shrink-0"
    src={"/weather.png"}
    alt="Weather app"
    width={1547}
    height={931}
  />
  <div class="flex flex-col gap-4">
    <h2 class="text-3xl lg:text-6xl flex gap-4 items-center font-bold">
      <img
        src={"/weather-icon.png"}
        width={64}
        height={64}
        alt="Weather app icon"
        class="rounded-xl size-12 lg:size-16"
      />
      Weather
    </h2>
    <p class="text-lg lg:text-2xl">
      Just another weather app, running in your browser. Fully responsive. It is
      a PWA meaning you can install it locally.
    </p>
    <p class="opacity-75 hover:opacity-90 transition-opacity">
      Made with TypeScript and React. Weather icons were made by me with
      Inkscape. Weather data from open-meteo.
    </p>
    <div class="flex gap-3">
      <PrimaryButton
        href="https://astudentinearth.github.io/weather-app"
        class="w-1/2 sm:w-fit"
      >
        <div class="flex gap-2 items-center">
          <SquareArrowOutUpRight class="size-5 sm:size-6" /> Try it live
        </div>
      </PrimaryButton>
      <SecondaryButton
        href="https://github.com/astudentinearth/weather-app"
        class="w-1/2 sm:w-fit"
        ><div class="flex gap-2 items-center">
          <Code class="size-5 sm:size-6" /> Source code
        </div></SecondaryButton
      >
    </div>
  </div>
</div>
