@import "tailwindcss";

:root {
  --background-1: #020202;
  --background-2: #121212;
  --background-3: #1C1C1C;
  --top-highlight: #414141;
  --text-muted: #818181;
  --text: #F0F0F0;
  --primary: #D2D2D2;
  --primary-foreground: hsl(0 0% 0%);
  --type-sans: "Instrument Sans", system-ui,-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@theme inline {
    --color-primary: var(--primary);
    --color-border: var(--border);
    --color-background-1: var(--background-1);
    --color-background-2: var(--background-2);
    --color-background-3: var(--background-3);
    --color-top-highlight: var(--top-highlight);
    --color-text: var(--text);
    --color-text-muted: var(--text-muted);
    --color-primary-foreground: var(--primary-foreground);
}

:root * {
  border-color: var(--border);
}

@utilty type-sans {
  font-family: var(--type-sans);
}

@utility text-default {
  @apply text-text;
}

body {
  color: var(--foreground);
  background: var(--background);
  @apply type-sans bg-background text-default;
}


@utilty type-sm {
  @apply text-base leading-6;
  letter-spacing: -0.02em;
}

.type-sm strong {
  @apply font-medium;
}

@utility type-md {
  @apply text-xl leading-6;
}

.type-md strong {
  @apply font-semibold;
}

@utility type-lg {
  @apply text-[2rem] leading-10;
  letter-spacing: -0.02em;
}

@utility type-giant {
  font-size: clamp(2rem, calc(1.429rem + 2.857vw), 6rem);
  @apply tracking-tighter;

h1 {
  @apply type-lg text-muted;
}

@utility top-highlight {
  box-shadow: 0px -0.5px --var(--top-highlight);
}

img {
  @apply rounded-xl;
}
